body {
    background-color: rgb(6, 6, 80);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    height: 450px;
    width: 400px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

label {
    margin: 10px;
    display: flex;
    justify-content: start;
}

input {
    height: 20px;
    width: 200px;
    border-radius: 10px;
    color: rgb(236, 237, 238);
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    margin: 30px;
}
